<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Bienvenida Karen </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<h1>contabilidad karen </h1>
<table id="customers">
    <tr>
        <td><B>Horarios</B></td>
        <td><B>Nombre</B> </td>
        <td><B> Telefono </B> </td>
        <td><B>Tipo</B> </td>
        <td><B>Valor</B> </td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td><B></B></td>
        <td><B></B> </td>
        <td><B></B> </td>
        <td><B></B> </td>
        <td><B>Total ventas</B> </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> </td>
        <td></td>
        <td>$ 150.000</td>
    </tr>
</table>
<hr>
<h1>contabilidad laura </h1>
<table id="customers">
    <tr>
        <td><B>Horarios</B></td>
        <td><B>Nombre</B> </td>
        <td><B> Telefono </B> </td>
        <td><B>Tipo</B> </td>
        <td><B>Valor</B> </td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td>8:00am</td>
        <td>juanita</td>
        <td> 123456789</td>
        <td>ceja</td>
        <td>$ 14.000</td>
    </tr>
    <tr>
        <td><B></B></td>
        <td><B></B> </td>
        <td><B></B> </td>
        <td><B></B> </td>
        <td><B>Total ventas</B> </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> </td>
        <td></td>
        <td>$ 150.000</td>
    </tr>
</table>
<hr>