  <!-- Page Header Start -->
  <div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Sedes</h2>
            </div>
            <div class="col-12"> 
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

  <!--img start-->
  <div class="card mb-3">
    <img src="../../assets/img/fachada.jpeg" class="rounded mx-auto d-blkoc" alt="...">
    <div class="card-body" >
      <h5 class="text-center">Sede Buga Albergue</h5>
      <p class="text-center">calle 12 # 15a-12</p>
      <p class="text-center">contact: 12346</p>
    </div>
  </div>
    <!--img end-->
    <!--map start-->
    
    <div class="container">
		<h1 class="text-center" >Responsive Map</h1>
    <div id="map_container"></div>
	  <div id="map"></div>
	</div>	
    <!--map end-->

  <!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <a href=" " class="footer-logo">LasH<span></span> lover</a>
                <h3>cll 12 , BUGA, COLOMBIA</h3>
                <div class="footer-menu">
                    <p>+57 345 67890</p>
                    <p>info@example.com</p>
                </div>
                <div class="footer-social">
                  <a href=""><i class="bi bi-whatsapp"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="bi bi-messenger"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">2022</a>, todo los derechos de reservados</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">harold alzate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->



  <!--Img end-->

  

