
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2></h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!--start login-->

<div class="login-box">
    <h2>contabilidad</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Usuario</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Contraseña</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ingresar
      </a>
    </form>
  </div>

  <!--end login-->