  <!-- Top Bar Start -->
  <div class="top-bar d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="top-bar-left">  
                    <div class="text">
                        <i class="far fa-clock"></i>
                        <h2>8:00  am - 6:00 pm </h2>
                        <p>lunes - viernes</p>
                    </div>
                    <div class="text">
                        <i class="fa fa-phone-alt"></i>
                        <h2>+57 123456789</h2>
                        <p>agenda tu cita</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="top-bar-right">
                    <div class="social">
                        <a href=""><i class="bi bi-whatsapp"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="bi bi-messenger"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Ingresar</button>
                  
                      </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="" class="navbar-brand">Lash Lover</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href=" " class="nav-item nav-link active">Home</a>
                <a href="/Servicios " class="nav-item nav-link">Servicios</a>
                <a href="/Productos " class="nav-item nav-link">Productos</a>
                <a href="/Sedes " class="nav-item nav-link">Sedes</a>
                <a href="/Contacto " class="nav-item nav-link">Contacto</a>
                <a href="/Contabilidad " class="nav-item nav-link">contabilidad</a>
                <a href="/Ingreso " class="nav-item nav-link">ingresar</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->
<router-outlet></router-outlet>

 