   
   <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Servicios</h2>
                </div>
                <div class="col-12">
                    <h2> lunes a sabados</h2>
                    <h2>8:00 am / 6:00pm</h2>
                 
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

 <!-- Service Start -->
 <div class="class">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Nuestros Servicios</p>
            <h2>Lorem, ipsum.</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="class-filter">
                    <li data-filter="*" class="filter-active">Pestañas</li>
                    <li data-filter=".filter-1">Belleza Facial</li>
                    <li data-filter=".filter-2">Cejas</li>
                    <li data-filter=".filter-3">Maquillaje Semipermanente</li>
                </ul>
            </div>
        </div>
        <div class="row class-container">
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="../../assets/img/pestañas1.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        <div class="class-teacher">        
                            <h3 class="text-center" > agenda tu citas </h3>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <h2 class="text-center" >Pestañas</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Lunes, Martes, Jueves</p>
                            <p><i class="far fa-clock"></i>8:00 am - 6:00 pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="../../assets/img/pestañas2.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        <div class="class-teacher">
                            <h3 class="text-center" >agenda tu cita</h3>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <h2 class="text-center" >Pestaña pelo a pelo</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>miercoles, viernes, sabado</p>
                            <p><i class="far fa-clock"></i>8:00 - 6:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="../../assets/img/cejas5.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        <div class="class-teacher">                         
                            <h3 class="text-center" >agenda tu cita </h3>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <h2 class="text-center" >cejas</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>lunes a sabado</p>
                            <p><i class="far fa-clock"></i>9:00 - 6:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="../../assets/img/cejas2.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        <div class="class-teacher">
                            <h3 class="text-center" >agenda tu cita</h3>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <h2 class="text-center" >Cejas</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Sun, Tue, Thu</p>
                            <p><i class="far fa-clock"></i>9:00 - 12:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.8s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="../../assets/img/pestañas3.jpg " alt="Image">
                    </div>
                    <div class="class-text">
                        <div class="class-teacher">
                           
                            <h3 class="text-center" >agenda tu cita</h3>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <h2 class="text-center" >pestañas</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>lunes - viernes</p>
                            <p><i class="far fa-clock"></i>8:00 - 12:00 / 2:00 - 6:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="1s">
                <div class="class-wrap">
                    <div class="class-img">
                        <img src="../../assets/img/cejas1.jpg" alt="Image">
                    </div>
                    <div class="class-text">
                        <div class="class-teacher">
                            
                            <h3 class="text-center" >agenda tu cita </h3>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <h2 class="text-center" >cejas / pestañas</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Sun, Tue, Thu</p>
                            <p><i class="far fa-clock"></i>9:00 - 10:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

     <!-- Discount Start -->
     <div class="discount wow zoomIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-header text-center">
                <p>lash Lover</p>
                <h2><span>30%</span></h2>
                
            </div>
            <div class="container discount-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. 
                </p>
                <a href="" class="btn">agenda tu cita</a>
               
            </div>
        </div>
    </div>
    <!-- Discount End -->
 <!-- Footer Start -->
 <div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <a href=" " class="footer-logo">LasH<span></span> lover</a>
                <h3>cll 12 , BUGA, COLOMBIA</h3>
                <div class="footer-menu">
                    <p>+57 345 67890</p>
                    <p>info@example.com</p>
                </div>
                <div class="footer-social">
                  <a href=""><i class="bi bi-whatsapp"></i></a>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="bi bi-messenger"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">2022</a>, todo los derechos de reservados</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">harold alzate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->